.profile-container {
  padding: 16px;
  text-align: center;

  .profile-header {
    margin-bottom: 20px;

    ion-avatar {
      margin: auto;
      width: 100px;
      height: 100px;
    }

    h2 {
      margin: 10px 0 5px;
      font-weight: bold;
    }

    p {
      color: gray;
      font-size: 14px;
    }
  }

  .profile-info ion-item {
    --background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .profile-edit ion-item {
    margin-bottom: 15px;
  }
}
