<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <ion-item class="input-item" lines="none">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>

  <ion-item class="input-item" lines="none">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input formControlName="lastName"></ion-input>
  </ion-item>

  <ion-item class="input-item" lines="none">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label position="floating">Correo</ion-label>
    <ion-input formControlName="email" type="email"></ion-input>
  </ion-item>

  <ion-item class="input-item" lines="none">
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>

  <ion-item class="input-item" lines="none">
    <ion-icon name="earth-outline" slot="start"></ion-icon>
    <ion-label position="floating">País</ion-label>
    <ion-select formControlName="country" [interfaceOptions]="customAlertOptions">
      <ion-select-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="login-btn" type="submit" expand="block" [disabled]="!userForm.valid">{{ isEdit ? 'Actualizar' : 'Registrar' }}</ion-button>
</form>
