<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido {{ user?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
   
      <ion-col size="3" class="sidebar">
        <ion-list>
          <ion-item button (click)="changeTab('profile')">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <ion-item button (click)="changeTab('news')">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Noticias</ion-label>
          </ion-item>
          <ion-item button (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>


      <ion-col size="9">

        <div *ngIf="selectedTab === 'profile'" class="content">
          <h2>Perfil</h2>
          <p><b>Nombre:</b> {{ user?.name }} {{ user?.lastName }}</p>
          <p><b>Email:</b> {{ user?.email }}</p>
          <p><b>País:</b> {{ user?.country }}</p>
        </div>


        <div *ngIf="selectedTab === 'news'" class="content">
          <h2>Últimas noticias</h2>
          <ion-list>
            <ion-item *ngFor="let article of articles">
              <ion-thumbnail slot="start">
                <img [src]="article.urlToImage" *ngIf="article.urlToImage">
              </ion-thumbnail>
              <ion-label>
                <h3>{{ article.title }}</h3>
                <p>{{ article.description }}</p>
                <a [href]="article.url" target="_blank">Leer más</a>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
